* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 8px;
}

p {
    font-size: 30px;
}

img {
    width: 600px;
    margin-top: 350px;
}

.text {
    color: white;
    background: orange;
    padding: 5px;
    font-size: 60px;
    border-radius: 10px;
    margin-top: 20px;
}

@media (max-width: 595px) {
    img {
        width: 100%;
    }
}

@media (max-width: 595px) {
    .text {
        width: 100%;
    }
}